/* ==================
       自定义偏移变量   
 ==================== */
$spaceTypes: (
  m: margin,
  p: padding,
);
$spaceDirections: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);
$spaceSizes: (
  2: 2rpx,
  4: 4rpx,
  8: 8rpx,
  10: 10rpx,
  15: 15rpx,
  20: 20rpx,
  24: 24rpx,
  30: 30rpx,
  40: 40rpx,
  50: 50rpx,
  60: 60rpx,
  70: 70rpx,
  80: 80rpx,
  100: 100rpx,
  140: 140rpx,
);
